    body {
        background-image: url('https://img.freepik.com/free-vector/white-gold-geometric-pattern-background-vector_53876-140726.jpg?w=2000');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1{
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    }

    h2{
        font-family: "Times New Roman", Times, serif;
    }

    p{
        font-family: "Times New Roman", Times, serif;
    }

    .i1 img {
        margin: 0.3rem;
        width: 620px;
        height: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        object-fit: cover;
        object-position: 100% 30%;
    }

    .i2 img {
        width: 300px;
        height: 600px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        object-fit: cover;
        object-position: 100% 30%;
    }

    /* For mobile phones: */
    [class*="col-"] {
    width: 100%;
    }

    @media only screen and (max-width: 800px) {
        /* For tablets: */
        img {width: 50%;}
    }

    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .col-6 {width: 50%;}
    }